DirectoryIndex index.html
AddDefaultCharset UTF-8

<IfModule mod_authz_core.c>
  <FilesMatch "\.(php|phtml|phar|php[0-9]|cgi|pl)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "\.(php|phtml|phar|php[0-9]|cgi|pl)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
